* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}


header {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 15px;
}

.menu {
    background: lightgray;
    margin-bottom: 10px;
    box-shadow: 0px 7px 24px 3px rgba(91, 89, 89, 0.14);
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
}

.menu a:hover {
    background-color: #ffcc22;
}

.menu li + li {
    padding-left: 11px;
}

#modal {
    display: none;
}

.header_slide {
    color: #212020;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}

.slide_img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.slide_item {
    position: relative;
    background-position: center;
}

.position {
    position: absolute;
    bottom: 50px;
    left: 40px;
    padding: 0px 5px;
}

.title_slide {
    color: black;
    -webkit-text-stroke: 1px #232121;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}

.info_slide {
    color: black;
    -webkit-text-stroke: 1px #232121;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    border: 2px solid #3231;
}

.about {
    padding: 50px 0px 30px;
}

.about_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.title-box:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffcc22;
    left: 0px;
    top: 11px;
}

.title-box-head {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.title-box-text {
    letter-spacing: 1px;
}

.default-btn a {
    color: #373636;
    line-height: 24px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}

.Items {
    display: flex;
    justify-content: space-between;
}

.about_item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24px 3px rgba(91, 89, 89, 0.14);
}

.about_item-title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px;
    position: relative;
}

.about_item-text {
    padding: 0px 30px 30px;
}

.about_item-link {
    position: absolute;
    bottom: 40px;
    color: #232121;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #000;
    margin-right: 60px;
    left: 60px;
}

.best_head {
    color: #212020;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px 15px;
    position: relative;
}

.best_item {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.best-data {
    padding: 20px 140px 20px;
}

.best_title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0px;
    position: relative;
}

.best_text {
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.footer {
    background: darkgray;
}

.footer-inner {
    padding: 5px 0px 5px;
}

.copy {
    background: #212020;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: #232121;
    line-height: 36px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 10px;
}

.footer-text a {
    color: #232121;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-bottom: 5px;
    position: relative;
}

.copyright {
    position: relative;
    color: white;
}

#modal{
    width: 300px;
}
#modal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#modal input[type="submit"]{
    background-color: #ffc222;
    border: none;
}